
.icon-window:before { content: '\e800'; } /* '' */
.icon-rain:before { content: '\e801'; } /* '' */
.icon-light:before { content: '\e802'; } /* '' */
.icon-snow:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-celsius:before { content: '\e805'; } /* '' */
.icon-tempnow:before { content: '\e806'; } /* '' */
.icon-temp:before { content: '\e807'; } /* '' */